.field-compare-overview td.col-entity-config {
  vertical-align: top;
}
.field-compare-overview h2.field-compare-group-label {
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 0;
}
.field-compare-overview .item-label {
  display: inline;
}
.field-compare-overview .item-label:not(.no-value):after {
  content: ':';
}
.field-compare-overview .item-value {
  display: inline-block;
}
.field-compare-overview .field-compare-notification {
  font-size: 80%;
  font-style: italic;
  font-weight: normal;
  background-color: #eeeeee;
  padding: 0.1em 1ex;
  border-radius: 4px;
  display: inline;
}

.field-compare-overview .field-compare-notification-inline {
  display: inline-block;
  margin-left: 1ex;
}

.form-checkboxes > .form-item {
  display: inline-block;
  margin-right: 2em;
}
