{#
  Variables:
  - label: Config group label.
  - field: Name of the field this group belongs to.
  - group: Configuration group machine name.
  - level: Nesting level. Starts at 1.
  - items: The config items of this group. Each item may contain children.
#}
{% if items %}
  <div class="field-compare-group js-field-compare-group {% if level == 1 %}js-field-compare-equal-height{% endif %}" data-field-compare-group="{{ group }}" data-field-compare-level="{{ level }}" data-field-compare-group-hash="{{ hash|slice(0, 12) }}">

    {% if label %}
      <h2 class="field-compare-group-label">{{ label }}</h2>
    {% endif %}
    <ul class="field-compare-items js-field-compare-items">
      {{ items }}
    </ul>
  </div>
{% endif %}
